{% extends "base.html" %}
{% block content %}

<div class="container">
    <h2 style="text-align:center; margin-bottom:30px;">Who’s watching?</h2>

    <div class="profile-grid">
        <div class="profile-card">
            <div class="profile-avatar">U</div>
            <div>User</div>
        </div>

        <div class="profile-card">
            <div class="profile-avatar">K</div>
            <div>Kids</div>
        </div>

        <div class="profile-card">
            <div class="profile-avatar">+</div>
            <div>Add Profile</div>
        </div>
    </div>
</div>

{% endblock %}
